@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
  background-color: whitesmoke;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  min-height: 100vh;
}

.title-row {
  background-color: #f3e9dc;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);

  h1 {
    font-family: "Playwrite DE Grund", cursive;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
    padding: 1rem;
  }
}

footer {
  background-color: whitesmoke;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.05);
}
